.text-overflow-upload {
    text-overflow: ellipsis !important;
}

.checkbox-orange[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #9e9e9e;
     background-color: #ff9800;
}

.radio-orange[type="radio"].filled-in:checked + label:after{
     border: 2px solid #9e9e9e;
     background-color: #ff9800;
}

.td-settings {
    padding: 7.5px !important;
    font-size: 1.0em !important;
}

.settings-layer-design {
    margin-bottom: 0px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.first-layer-design {
    margin-bottom: 0px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.city-internal {
    padding-left: 5px !important;
    padding-top: 5px !important;
    padding-right: 0px!important;
}

.label-fonts {
    font-size: 0.875em !important;
}

.details-design {
    padding-right: 0px !important;
}

#toast-container {
  top: auto !important;
  bottom: 10%;
  right: 10%;
}

.details-row {
    margin-top: 7.5px !important;
    margin-bottom: 7.5px !important;
}
